*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.contenedor{
	width: 800px;
	margin:auto;
	border:2px solid gray;
	max-width: 1000px
}
.perfil{
	border-radius: 106px;
    margin-left: 314px;
    margin-top: 44px;
    margin-bottom: 17px;
    width: 159px;
}
.titulo{
	text-align: center;
	font-size: 37px;
}
.parrafo{
	text-align: center;
    font-size: 21px;
    margin-left: 80px;
    margin-right: 79px;
}
.subtitulo{
	 font-size: 21px;
    margin-left: 80px;
    margin-right: 79px;
}
.formulario{
	font-size: 30px;
}
.imagenes{
	font-size: 30px;
}
.lenguaje{
	background: gray;
}
.foto{
	width: 200px;
	height: 150px;
	margin: 10px;
}