*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.contenedor{
	width: 800px;
	margin:auto;
	border:2px solid gray;
	max-width: 1000px
}
.perfil{
	border-radius: 106px;
    margin-left: 314px;
    margin-top: 44px;
    margin-bottom: 17px;
    width: 159px;
}
.titulo{
	text-align: center;
	font-size: 37px;
}
.parrafo{
	text-align: center;
    font-size: 21px;
    margin-left: 80px;
    margin-right: 79px;
}
.subtitulo {
    font-size: 32px;
    margin-left: 27px;
}
.html{
	background: gray;
    width: 516px;
    padding: 13px;
    margin-top: 11px;
    margin-left: 70px;
    color:white;
}
.css{
	background: gray;
	color:white;
    width: 356px;
    padding: 13px;
    margin-top: 11px;
    margin-left: 70px;
}
.js{
	background: gray;
    width: 165px;
    padding: 13px;
    margin-left: 70px;
    margin-top: 11px;
    color: white;
}
.foto{
	width: 200px;
	height: 150px;
	margin-left: 10px;
}
.imagenes{
	margin-left: 58px;
	margin-bottom: 12px;
}